.g-bg-default {
  background-color: white !important;
  opacity: 1 !important;
}

.g-bg-subtable {
  background-color: #ddd !important;
  opacity: 1 !important;
}

.g-fg-white {
  color: white !important;
}

.g-fg-red {
  color: rgb(255, 93, 93) !important;
}
.g-fg-purple {
  color: rgb(194, 57, 182) !important;
}
.g-fg-orange {
  color: rgb(224, 148, 49) !important;
}
.g-fg-green {
  color: rgb(27, 180, 27) !important;
}
.g-fg-blue {
  color: rgb(97, 97, 255) !important;
}
.g-fg-gray {
  color: rgb(102, 102, 102) !important;
}

.g-fg-black {
  color: black !important;
}