.catalog {
}
  .catalog > .header {
    width: 100%;
    height: 48px;
    color: black;
    font-size: 28px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid #ced4da;
  }
  .catalog > .action {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 4px 0;
  }
  .catalog > .action > div {
    display: inline;
    padding: 4px 8px 4px 0px;
  }
  .catalog > .filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
  }
    .catalog > .filter > div {
      display: inline;
      padding: 4px 8px 4px 0px;
    }
  .catalog > .content {
    width: 100%;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 50px;
  }