.fake-upload {
  display: flex;
  flex-direction: column;
}

.fake-upload-container {
  width: 510px;
  height: 150px;
  border: 1px dashed #B5B6B7;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  padding: 24px 0;

  > span {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3C3D3F;
  }
  > * {
    margin: 8px 0;
  }
}

.fake-upload-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  > * {
    margin: 0 18px;
  }
}

.fake-upload-list-container {
  width: 510px;
}

.fake-upload-list {
  display: flex;
  flex-direction: column;
  > * {
    margin: 4px 0;
  }
}

.fake-upload-item {
  display: flex;
  flex-direction: row;
  > * {
    width: 50%;
  }
}

.fake-upload-item-avatar {
  display: flex;
  flex-direction: row;
}

.fake-upload-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  > *:first-child {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #080809;
  }
  > *:last-child {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #797A7B;
  }
}

.fake-upload-item-action {
  display: flex;
  flex-direction: row;
  > i {
    margin: 9px 4px;
    color: #797A7B;
  }
}

.fake-upload-progressbar {
  width: calc(100% - 16px);
  height: 2px;
  border-radius: 1px;
  background-color: #04c80c;
  margin: 16px 0;
}

.fake-upload-list-action {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #EBECED;
  > *:first-child {
    width: 50%;
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #080809;
  }
  > *:last-child {
    width: 50%;
    > * {
      width: 100%;
      height: 30px;
      font-size: 1em !important;
    }
    transform: translateY(-8px);
  }
}